 <!-- 共通header部分 -->

<style>
    .sub-plan-title{
        font-weight: 600;
        color: #475D8F;
        font-size: 1.2em;
    }
    .dropdown-menu{
      background-color: #84B0D8;
    }
    .header{
        background: linear-gradient(to right, #fff, #fff);
        background-color: #fff;
      }

      .header-logo{
        font-size: 2em;
        color: #475D8F;
        display: inline-block;
        margin: .3em 1em .3em 1em;
        letter-spacing: 5px;
        font-weight: 800;
      }

      .header-links{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        background-color: #1672D8;
      }

      .header-links li{
        list-style: none;
        padding: .7em 1.5em;
      }

      .header-links li a{
        position: relative;
        font-size: 1.2em;
        color: #fff;
        transition: color .4s ease;
      }

      .header-links li a:hover{
        text-decoration: none;
        color: #2c345f;
      }

      .header-links li a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-bottom: solid 2px #2c345f;
        transition: width .4s ease;
      }

      .header-links li a:hover::before{
        width: 100%;
      }

      .header-member{
        float: right;
        margin-top: 1.2em;
      }
      
</style>
<section class="header" id="header">
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="sidebar-header mt-3">
        <h3>使用者資訊</h3>
    </div>
    <div class="sidebar-header">
        <h5>使用者名稱：<span v-text="username"></span></h5>
    </div>
    <div class="sidebar-header">
        <h5>計畫ID：<span v-text="now_plan_id"></span></h5>
    </div>
    <div class="sidebar-header">
        <h5>名字：<span v-text="name"></span></h5>
    </div>
    
    <div class="sidebar-header">
    <ul class="list-unstyled components">
     
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">選擇子計畫</a>
            <ul class="collapse list-unstyled" id="homeSubmenu" v-for="(item, index) in plans">
                <li>
                    <a href="#" class="btn btn-primary btn-lg active" style="font-size:10px;" role="button" aria-pressed="true" v-on:click="changeDashboard(item.plan_id)" v-text="item.plan_name"></a>
                    <!-- <a href="#">子計畫ㄧ</a> -->
                </li>
                <!-- <li>
                    <a href="#" class="btn btn-primary btn-lg active" role="button"  style="font-size:10px;" aria-pressed="true" onclick="readaaa('plan2')" v-text="plans[1].plan_name">子計畫二</a>
                </li> -->
               
            </ul>
        </li>
    </ul>
    </div>
</nav>

    <span class="header-logo"><i class="fas fa-school"></i>台灣離岸風場運維大數據網路平台建置研究計劃</span>
    <!-- <span class="sub-plan-title" v-text="plan_name"></span> -->
    <div class="header-member">
      {% if username %}
      <a class="btn btn-outline-secondary" href="/logout"><i class="fas fa-user"></i> 登出</a>
      {% else %}
      <a class="btn btn-outline-primary" href="/login"><i class="fas fa-user"></i> 登入</a>
      {% endif %}
    </div>
    <ul class="header-links">
        <button type="button" id="sidebarCollapse" class="btn btn-info" v-on:click="getPlans(username)">
            <i class="fas fa-align-left"></i>
            <span></span>
        </button>
        <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button> -->
      <li>
        <a href="/index">
          <i class="fas fa-home"></i> 儀表板首頁
        </a>
      </li>
      <li class="dropdown">
        <a href="/upload" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fas fa-file-upload"></i> 資料蒐集上傳
        </a>
        <ul class="dropdown-menu">
          <li><a href="/upload">上傳CSV檔案資料</a></li>
          <li><a href="/xmlupload">資料表顯示與建立</a></li>
          <li><a href="/opc">風機OPC資料</a></li>
          <!-- <li><a href="/alias">同名功能</a></li> -->
        </ul>
      </li>
      <li class="dropdown">
        <a href="/chart" class="dropdown-toggle" data-toggle="dropdown">
           <i class="fas fa-chart-pie"></i> 資料視覺化
        </a>
        <ul class="dropdown-menu">
            <li><a href="/preview">資料預覽</a></li>
            <li><a href="/chart">圖表功能</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="/analyse" class="dropdown-toggle" data-toggle="dropdown">
           <i class="far fa-chart-bar"></i> 資料分析
        </a>
        <ul class="dropdown-menu">
          <li><a href="/analyse">機器學習分析</a></li>
          <li><a href="/numsimulation">數值模擬分析</a></li>
          <li><a href="/exe">EXE執行檔功能模組</a></li>
          <!-- <li><a href="/deeplearning">深度學習分析</a></li> -->
            <!-- <li><a href="/batch">程式批次處理功能</a></li> -->
        </ul>
      </li>
      <li>
        <a href="/usecase"><i class="fas fa-thumbs-up"></i> 案例式分析流程</a>
      </li>
      <li>
            <a href="http://140.112.26.241:8009">
              <i class="far fa-chart-bar"></i>進階分析
            </a>
      </li>
    </ul>

 </section>
 
 
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <script type="text/javascript">
  var username = '{{ username }}';  
  var plan_id = '{{ plan_id }}';
  var name = '{{ name }}'
  var plan_name = '{{plan_name}}'
   var app=new Vue({
      el:'#header',
      data:{
        username : username,
        now_plan_id : plan_id,
        name : name,
        plans:[]
      
    },
    methods:{
      changeDashboard:function(plan_id) {
        this.now_plan_id = plan_id
        app.readDashboard(plan_id);
      },
      getPlans:function(username){
        const _this = this
        var name = {
            "username":username
        }
        $.ajax({
                  url: "http://140.112.26.237:8002/api/file/get_plans/",
                  type: "POST",
                  dataType: "json",
                  data:JSON.stringify(name),
                  async:true,
                  beforeSend: function(){
                    
                  },
                  success: function (data) {
                     _this.plans = data
                  },
                  error: function(xhr, ajaxOptions, thrownError) {
                    console.log('error');
                    console.log(thrownError);
                  },
                  complete: function(){
                      
                    
                  }
              });
        

      }
    }

   })

 </script>